html{
  width:010vw;
  height:100vh;

}

body{
  width:100vw;
  height:100vh;
/*  background-color: blue;*/
}

#buttons{
  width: 30%;
  height: 30%;
  margin: 0 auto;
  position:absolute;
  z-index: 2;


}

#weather{
  width:  90%;
  height: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}