p{
  font-family: "Helvetica", Arial, san-serif;
  text-align: center;
}

html, body{
  width:100vw;
  height:100vh;
}

#cursor {
  animation: blinker 1s step-end infinite; 
  /*you can change 'step-end' to 'linear' for smooth transition*/
}

@keyframes blinker {  
  50% { opacity: 0; }
}


#canvas { 
  width:55vw;
  height:80vh;
  position: relative;
  margin: 0 auto;
}
#canvas img {
  position: absolute;
  width:100%;
  height:100%;
}
.inner {
  position: relative;
  height:500px;
  width: 500px;
  margin: 0 auto;
}

.inner img {
  position: absolute;
  max-width: 60%;
  max-height: 60%;
  width: 200px;
  height: 200px;
}

/*controls are below this line*/
.skew{
  transform: skew(20deg,20deg);
}

.rotate90{
  transform: rotate(90deg);
}

.rotate180{
  transform: rotate(180deg);
}

.rotate90cc{
  transform: rotate(-90deg);
}

.up{
  transform: translate(0px, -40px);
}

.down{
  transform: translate(0px, 40px);
}

.right{
  transform: translate(40px, 0px);
}

.left{
  transform: translate(-40px, 0px);
}

.scaledown{
  transform: scale(0.8, 0.8);
}

